{% extends 'base.html' %}
{% load humanize %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="mb-6">
    <h1 class="text-2xl font-bold tracking-wide">Halaman Pengaturan</h1>
    <p class="text-gray-400 text-sm">
        Lihat dan kelola wallet serta kategori Anda di sini.
    </p>
</div>

<div class="grid md:grid-cols-2 gap-6">

    <!-- WALLET -->
    <div class="bg-gray-800 p-5 rounded-xl shadow">

        <div class="flex justify-between items-center mb-4">
            <h2 class="font-semibold text-lg">Wallets</h2>

            <button id="addWalletBtn"
               class="px-3 py-1 bg-indigo-600 rounded text-sm">
               Tambahkan
            </button>
        </div>

        <div class="space-y-2">

            {% for w in wallets %}
            <div class="flex justify-between items-center bg-gray-900 p-3 rounded">

                <div>
                    <div class="font-medium">{{ w.name }}</div>
                </div>

                <div class="flex gap-2 text-sm">

                    <button class="editWalletBtn text-yellow-400 hover:underline" data-id="{{ w.id }}" data-name="{{ w.name }}" data-balance="{{ w.initial_balance }}">
                       Edit
                    </button>

                    <a href="{% url 'wallet_delete' w.id %}"
                       class="text-red-400 hover:underline">
                       Hapus
                    </a>

                </div>

            </div>
            {% empty %}
                <div class="text-gray-500">Tidak ada wallet.</div>
            {% endfor %}

        </div>
    </div>


    <!-- CATEGORY -->
    <div class="bg-gray-800 p-5 rounded-xl shadow">

        <div class="flex justify-between items-center mb-4">
            <h2 class="font-semibold text-lg">Kategori</h2>

            <button id="addCategoryBtn" class="px-3 py-1 bg-indigo-600 rounded text-sm">
            Tambahkan
            </button>
        </div>

        <div class="space-y-2">

            {% for c in categories %}
            <div class="flex justify-between items-center bg-gray-900 p-3 rounded">

                <div>
                    <div class="font-medium">{{ c.name }}</div>

                    <div class="text-xs
                        {% if c.type == 'income' %}
                            text-green-400
                        {% else %}
                            text-red-400
                        {% endif %}
                    ">{% if c.type == 'income' %}
                        Pemasukan
                    {% else %}
                        Pengeluaran
                    {% endif %}
                        {{ title }}
                    </div>
                </div>

                <div class="flex gap-2 text-sm">

                    <button class="editCategoryBtn text-yellow-400 hover:underline" data-id="{{ c.id }}" data-name="{{ c.name }}" data-type="{{ c.type }}">
                    Edit
                    </button>

                    <a href="{% url 'category_delete' c.id %}"
                       class="text-red-400 hover:underline">
                       Hapus
                    </a>

                </div>

            </div>
            {% empty %}
                <div class="text-gray-500">Tidak ada kategori.</div>
            {% endfor %}

        </div>

    </div>

    <!-- OVERLAY -->
    <div id="overlay"
    class="fixed inset-0 bg-black/60 hidden"></div>


    <!-- MODAL -->
    <div id="walletModal"
    class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-900 p-6 rounded-xl w-96 hidden shadow-2xl">

        <h2 class="text-lg font-semibold mb-4">
        Tambahkan Wallet
        </h2>

        <form method="POST" action="{% url 'wallet_add' %}">
        {% csrf_token %}
            <input name="name" placeholder="Wallet Name" class="w-full mb-3 p-2 bg-gray-800 rounded">
            <input name="initial_balance" type="number" placeholder="Initial Balance" class="w-full mb-4 p-2 bg-gray-800 rounded">
            <div class="flex justify-end gap-2">
                <button type="button" id="closeWallet" class="px-3 py-1 bg-gray-700 rounded">
                Batal
                </button>
                <button class="px-3 py-1 bg-indigo-600 rounded">
                Simpan
                </button>
            </div>
        </form>
    </div>

    <div id="editWalletModal" class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-900 p-6 rounded-xl w-96 hidden shadow-2xl">

        <h2 class="text-lg font-semibold mb-4">
            Edit Wallet
        </h2>

        <form method="POST" id="editWalletForm">
            {% csrf_token %}

            <input id="editName" name="name" class="w-full mb-3 p-2 bg-gray-800 rounded">

            <input id="editBalance" name="initial_balance" type="text" inputmode="numeric" placeholder="Rp. 0" class="w-full mb-4 p-2 bg-gray-800 rounded">

            <div class="flex justify-end gap-2">
                <button type="button" id="closeEditWallet"
                    class="px-3 py-1 bg-gray-700 rounded">
                    Batal
                </button>

                <button class="px-3 py-1 bg-indigo-600 rounded">
                    Perbarui
                </button>
            </div>
        </form>
    </div>
    <div id="editCategoryModal" class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-900 p-6 rounded-xl w-96 hidden shadow-2xl">

        <h2 class="text-lg font-semibold mb-4">
            Edit Kategori
        </h2>

        <form method="POST" id="editCategoryForm">
            {% csrf_token %}

            <input id="editCategoryName" name="name" class="w-full mb-3 p-2 bg-gray-800 rounded" placeholder="Category name">

            <select id="editCategoryType" name="type" class="w-full mb-4 p-2 bg-gray-800 rounded">
                <option value="income">Pemasukan</option>
                <option value="expense">Pengeluaran</option>
            </select>

            <div class="flex justify-end gap-2">
                <button type="button" id="closeEditCategory" class="px-3 py-1 bg-gray-700 rounded">
                    Batal
                </button>

                <button class="px-3 py-1 bg-indigo-600 rounded">
                    Perbarui
                </button>
            </div>
        </form>
    </div>
    <div id="addCategoryModal" class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-900 p-6 rounded-xl w-96 hidden shadow-2xl">

        <h2 class="text-lg font-semibold mb-4">
            Tambahkan Kategori
        </h2>

        <form method="POST" action="{% url 'category_add' %}">
            {% csrf_token %}

            <input name="name"
                class="w-full mb-3 p-2 bg-gray-800 rounded"
                placeholder="Category name"
                required>

            <select name="type"
                    class="w-full mb-4 p-2 bg-gray-800 rounded">
                <option value="income">Pemasukan</option>
                <option value="expense">Pengeluaran</option>
            </select>

            <div class="flex justify-end gap-2">
                <button type="button" id="closeAddCategory"
                    class="px-3 py-1 bg-gray-700 rounded">
                    Batal
                </button>

                <button class="px-3 py-1 bg-indigo-600 rounded">
                    Simpan
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block extra_script%}
<script>
document.addEventListener('DOMContentLoaded', function(){

// ADD WALLET MODAL
const btn = document.getElementById('addWalletBtn')
const modal = document.getElementById('walletModal')
const overlay = document.getElementById('overlay')
const closeBtn = document.getElementById('closeWallet')

// ADD WALLET EVENTS
btn.onclick = () => {
   modal.classList.remove('hidden')
   overlay.classList.remove('hidden')
}

overlay.onclick = () => {
   modal.classList.add('hidden')
   overlay.classList.add('hidden')
}

closeBtn.onclick = () => {
   modal.classList.add('hidden')
   overlay.classList.add('hidden')
}

})

// EDIT WALLET MODAL
const editButtons = document.querySelectorAll('.editWalletBtn')
const editModal = document.getElementById('editWalletModal')
const editForm = document.getElementById('editWalletForm')

const editName = document.getElementById('editName')
const editBalance = document.getElementById('editBalance')

const closeEdit = document.getElementById('closeEditWallet')
// EDIT WALLET EVENTS
editButtons.forEach(btn => {

    btn.onclick = () => {

        const id = btn.dataset.id
        const name = btn.dataset.name
        const balance = btn.dataset.balance

        editName.value = name
        editBalance.value = formatRupiah(parseInt(balance).toString())

        // 🔥 dynamic URL
        editForm.action = `/settings/wallets/${id}/edit/`

        editModal.classList.remove('hidden')
        overlay.classList.remove('hidden')
    }

})

editForm.addEventListener('submit', function(){

    editBalance.value = editBalance.value.replace(/[^0-9]/g, '')

})

closeEdit.onclick = () => {
    editModal.classList.add('hidden')
    overlay.classList.add('hidden')
}

function formatRupiah(angka){
    let number_string = angka.replace(/[^,\d]/g, '').toString()
    let split = number_string.split(',')
    let sisa = split[0].length % 3
    let rupiah = split[0].substr(0, sisa)
    let ribuan = split[0].substr(sisa).match(/\d{3}/gi)

    if(ribuan){
        let separator = sisa ? '.' : ''
        rupiah += separator + ribuan.join('.')
    }

    return 'Rp. ' + rupiah
}

editBalance.addEventListener('input', function(){
    this.value = formatRupiah(this.value)
})

// ADD CATEGORY MODAL
const addCategoryBtn = document.getElementById('addCategoryBtn')
const addCategoryModal = document.getElementById('addCategoryModal')
const closeAddCategory = document.getElementById('closeAddCategory')

addCategoryBtn.onclick = () => {
    addCategoryModal.classList.remove('hidden')
    overlay.classList.remove('hidden')
}

closeAddCategory.onclick = () => {
    addCategoryModal.classList.add('hidden')
    overlay.classList.add('hidden')
}

// EDIT CATEGORY MODAL
const categoryButtons = document.querySelectorAll('.editCategoryBtn')
const categoryModal = document.getElementById('editCategoryModal')
const categoryForm = document.getElementById('editCategoryForm')

const editCategoryName = document.getElementById('editCategoryName')
const editCategoryType = document.getElementById('editCategoryType')
const closeCategoryBtn = document.getElementById('closeEditCategory')

categoryButtons.forEach(btn => {
    btn.onclick = () => {

        const id = btn.dataset.id
        const name = btn.dataset.name
        const type = btn.dataset.type

        editCategoryName.value = name
        editCategoryType.value = type

        // 🔥 URL Django yang BENAR
        categoryForm.action = `/settings/categories/${id}/edit/`

        categoryModal.classList.remove('hidden')
        overlay.classList.remove('hidden')
    }
})

closeCategoryBtn.onclick = () => {
    categoryModal.classList.add('hidden')
    overlay.classList.add('hidden')
}
</script>
{% endblock extra_script%}
    